#CategoryName {
    font-size: 20px;
    padding-left: 3.5%;
    padding-bottom: 10px;
}

#SiteName {
    text-align: left;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 14px;
    width: 100%;
}

#ArticleName {
    padding-bottom: 5px;
    font-size: 13px;
}

#Author {
    padding-bottom: 15px;
    font-size: 15px;
}

#Date {
    font-size: 11px;
    color: grey;
}

.blogsContainer {
    overflow:auto;
    width:90%;
}

.blogsRow {
     overflow:auto;
     border-style: solid;
     border-width: 1px;
     border-radius: 5px;
     padding-top: 1.5%;
     padding-bottom: 4%;
     padding-left: 2%;
     padding-right: 2%;
}

.blogBox {
    float: left;
    width: 100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 100%;
}

.blogInfo {
}

a {
    text-decoration: none;
    color: blue;
}
/* unvisited link */
/* a:link {
  color: white;
} */

/* visited link */
/*a:visited {*/
/*  color: grey;*/
/*}*/

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}