.DateTime {
    text-align: center;
    padding-top: calc(35px + (15 - 35) * ((85vw - 300px) / (1600 - 300)));
    width: 33%;
    height: 125px;
    float: left;
    color: #333;
}

.Time {
  width: 100%;
  font-size: calc(22px + (45 - 22) * ((100vw - 300px) / (1600 - 300)));
  margin: 5px;
  /* text-shadow: 0 0 5px black; */
}

.Date {
  width: 100%;
  font-size: calc(11px + (20 - 11) * ((100vw - 300px) / (1600 - 300)));
  /* text-shadow: 0 0 3px black; */
}