.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Header {
  background-color: rgba(169, 67, 63, 0.71);
  height: 50px;
  padding: 50px;
  text-align: center;
  color: cornsilk;
}

table {
  width: 100%;
  padding: 0 20% 0 20%;
}

tr {
  margin-bottom: 20px;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

