.app-wrapper {
  background-color: rgba(18, 18, 18, 1);
  color: rgba(255, 255, 255, .8);
  font-family: 'Source Sans Pro', sans-serif;
}

.app {
  min-height: calc(100vh - 20px);
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.Header {
  height: 30px;
  padding: 20px;
  text-align: center;
}

.tabs {
  height: 100%;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.tab-content {
  height: 100%;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, .87);
}
/* unvisited link */
/* a:link {
  color: white;
} */

/* visited link */
/* a:visited {
  color: grey;
} */

/* mouse over link */
a:hover {
  color: #718bf5;
}

/* selected link */
a.active {
  color: #718bf5;
}
