.signup-container {
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
}

.signup-content {
    background: #fff;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;    
    padding: 35px;
}

.social-signup {
    padding-top: 10px;
    padding-bottom: 2px;
}

.social-btn {
    font-weight: 400;
    font-size: 16px;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-top: 5px;
}

.social-btn.facebook img {
    height: 24px;
    margin-left: 3px;
}

.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.login-link {
    font-size: 14px;
}

.signup-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
}

.social-btn.google {
    border-color: rgba(18, 18, 18, 1);
}

.login-link a {
    color: #718bf5;
}